{% extends 'base.html' %}

{% block content %}

 <!-- Showcase -->

  <section id="slider" class="py-5">
    <div class="container">
      <h4 class=" mb-3">Hot Offers <hr></h4>
    <div class="slider" >
      <div class="slides" style="margin-top:10px;">

         <input type="radio" name="radio-btn" id="radio1">
         <input type="radio" name="radio-btn" id="radio2">
         <input type="radio" name="radio-btn" id="radio3">
         <input type="radio" name="radio-btn" id="radio4">

        <div class="slide first" >
          <img src="static/img/bakery_Categ.jpeg" alt="" >
        </div>
        <div class="slide">
          <img src="static/img/about.jpg" alt="">
        </div>
        <div class="slide">
          <img src="static/img/home-2.jpg" alt="">
        </div>
        <div class="slide">
          <img src="static/img/home-1.jpg" alt="">
        </div>

        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
        </div>

        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
        </div>


      </div>

    </div>
</div>
  </section>

<script type="text/javascript">
var counter = 1;
setInterval(function(){
document.getElementById('radio' + counter).checked=true;
counter ++;
if(counter>4){
counter=1;
}
},5000);
</script>

  <!-- Categories -->
  <section id="listings" class="py-5">
    <div class="container">
      <h4 class=" mb-3">Categories <hr></h4>
      <div class="row" >
        {% if categories  %}
          {% for category in categories%}
            {% if category.is_child == False  %}
              <div class="col-md-6 col-lg-4 mb-4" style="margin-top:10px;">
                <div class="card listing-preview">
                  <img class="card-img-top" src="static/img/bakery_Categ.jpeg" alt="">
                  <div class="card-img-overlay">

                  </div>
                  <div class="card-body">
                    <div class="listing-heading text-center">

                      <h4 style="color: #000000;">{{ category.name }}</h4>

                    </div>
                    <hr>

                    <a href="{% url 'categories' %}" class="btn btn-light btn-block" style="background-color: #2a2a2a;  color : #ffffff; border-width: 2px;">View Category</a>

                  </div>

                </div>

              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="cpl-md-12">
            <p>No Listings Available </p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>


<section class="py-5">
<div class="container">
      <h4 class=" mb-3">Best Sellers <hr></h4>
      <div class="row" >
        {% if categories  %}
          {% for category in categories%}
            {% if category.is_child == False  %}
              <div class="col-md-6 col-lg-4 mb-4" style="margin-top:10px;">
                <div class="card listing-preview">
                  <img class="card-img-top" src="static/img/bakery_Categ.jpeg" alt="">
                  <div class="card-img-overlay">

                  </div>
                  <div class="card-body">
                    <div class="listing-heading text-center">

                      <h4 style="color: #000000;">{{ category.name }}</h4>

                    </div>
                    <hr>

                    <a href="listing.html" class="btn btn-light btn-block" style="background-color: #2a2a2a;  color : #ffffff; border-width: 2px;">View Category</a>

                  </div>

                </div>

              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          <div class="cpl-md-12">
            <p>No Listings Available </p>
          </div>
        {% endif %}

      </div>

    </div>

</section>


<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <a class="btn btn-light btn-block" href="{% url 'bestSellers' %}" style="position:relative; background-color:#2a2a2a; color:#ffffff; margin-bottom:25px; " >View All</a>
    </div>
    <div class="col-sm">
    </div>
  </div>



	<a href="#slider" onclick="scrollToTop();return false" class="scroll-to-top"><i class="fa fa-arrow-up"></i>Back to top</a>

<style>

.scroll-to-top {
    background-color: #2a2a2a;
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
    display: block
}

.scroll-to-top:hover {
    color: #fff !important
}

.scroll-to-top .fa {
    margin-right: 10px
}


a,
a:hover,
a:focus,
a:visited,
.alink:visited {
    text-decoration: none;
    color: #2d2d2c;
}

a:active,
.alink:active {
    color: #ffe900
}

a:hover {
    transition: .4s
}

h4 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #2d2d2c;
    webkit-font-smoothing: antialiased;
    font-size:28px;
}
</style>

  <section class="py-4 text-white" style= "color:#000000; background-color:#333; font-size:14px;">
    <div class="container text-white">
      <div class="row text-center text-white">
        <div class="col-md-4 text-white">
          <i class="fas fa-comment fa-3x mr-0"></i>
          <hr>
          <h4 class="text-white">Chat with us</h4>
          <p>Our support team will be happy to help you!</p>
        </div>
        <div class="col-md-4 text-white">
          <i class="fas fa-truck fa-3x mr-0" ></i>
          <hr>
          <h4 class="text-white">Delivery</h4>
          <p >We deliver to your place!</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-info-circle fa-3x mr-0"></i>
          <hr>
          <h4 class="text-white">About Us</h4>
          <p>We are a young team of engineers developing our first website for a Lebanese Supermarket!</p>
        </div>
      </div>
    </div>
  </section>


<script>

  function scrollToTop() {
    var position =
        document.body.scrollTop || document.documentElement.scrollTop;
    if (position) {
        window.scrollBy(0, -Math.max(1, Math.floor(position / 90)));
        scrollAnimation = setTimeout("scrollToTop()", 0);
    } else clearTimeout(scrollAnimation);
}

</script>

{% endblock %}