{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="register" class="bg-light py-5">
   <div class="container">
      <div class="row">
         <div class="col-md-6 mx-auto">
            <div class="card">
               <div class="card-header " style="background-color : #2a2a2a; color : #ffffff">
                  <h4>
                     <i class="fas fa-key"></i> Change Password
                  </h4>
               </div>
               <div class="card-body">
                  <form action="" method="POST" id = "myForm">
                     {% csrf_token %}
                     <div class="form-group">
                        <label for="old_pwd">Old Password</label>
                        <input type="password" placeholder="Enter old Password" name="old_pwd" id = "old_pwd"class="form-control" required>
                     </div>
                     <div class="form-group">
                        <label for="pwd">New Password</label>
                        <input type="password" name="pwd" placeholder="Enter new Password" id = "pwd"class="form-control" required>
                     </div>
                     <div class="form-group">
                        <label for="pwd2">Confirm new Password</label>
                        <input type="password" name="pwd2" placeholder="Confirm new Password" id = "pwd2"class="form-control" required>
                     </div>
                     <input type="submit" value="Submit" class="button button1 btn-block"style="margin-top:10px; background-color : #2a2a2a; color : #ffffff"  onclick="return Validate()" />
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<style>
   .button {
   background-color: #333;
   text-align: center;
   padding: 6px;
   border: none;
   color: white;
   height: 40px;
   text-decoration: none;
   cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   }
   .button1:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   }
   .button2 {
   background-color: white;
   color: black;
   border: 1px solid #555555;
   }
   .button2:hover {
   background-color: #333;
   color: white;
   }
</style>
<script>
   function Validate() {
      var oldpass = document.forms["myForm"]["old_pwd"];
      var password = document.forms["myForm"]["pwd"];
      var confPassword = document.forms["myForm"]["pwd2"];

      if (oldpass.value == "") {
          window.alert("Please enter your old password.");
          username.focus();
          return false;
      }


      if (password.value == "") {
          window.alert("Please enter a new password.");
          username.focus();
          return false;
      }


      if (password.value != confPassword.value) {
          window.alert("Passwords do not match.");
          pwd2.focus();
          return false;
      }

   }
</script>
{% endblock %}