{% extends 'base.html' %}
{% load humanize %}
{% block content %}
{% load static%}
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
{% if offer %}
{% for of in offer %}
<section style="background-color : #222222" class="py-5 text-white">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h5 class="display-4">{{of.title}}</h5>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{%url 'index' %}" style="color:black;">Home</a>
            </li>
            <li class="breadcrumb-item">
               <a href="{%url 'offers' %}" style="color:black;">Offers</a>
            </li>
            <li class="breadcrumb-item active">{{of.title}}</li>
         </ol>
      </nav>
   </div>
</section>
<!-- Listing -->
<section class="py-4">
   <div class="container">
      <div style="margin:auto">
         <!-- Home Main Image -->
         <div style="display:flex; justify-content:center;">
            <img src="{{of.photo_main.url}}" alt="" class="img-main img-fluid mb-3" style="width:500px; height:500px;">
         </div>
         <!-- Thumbnails -->
         <div class="row mb-5 thumbs">
            <div class="col-md-2">
               <a href="{{of.photo_2.url}}" data-lightbox="home-images">
               <img src="{{of.photo_2.url}}" alt="" class="img-fluid">
               </a>
            </div>
            <div class="col-md-2">
               <a href="{{of.photo_3.url}}" data-lightbox="home-images">
               <img src="{{of.photo_3.url}}" alt="" class="img-fluid">
               </a>
            </div>
            <div class="col-md-2">
               <a href="{{of.photo_main.url}}" data-lightbox="home-images">
               <img src="{{of.photo_main.url}}" alt="" class="img-fluid">
               </a>
            </div>
            <div class="col-md-2">
               <a href="{{of.photo_main.url}}" data-lightbox="home-images">
               <img src="{{of.photo_main.url}}" alt="" class="img-fluid">
               </a>
            </div>
            <div class="col-md-2">
               <a href="{{of.photo_main.url}}" data-lightbox="home-images">
               <img src="{{of.photo_main.url}}" alt="" class="img-fluid">
               </a>
            </div>
            <div class="col-md-2">
               <a href="{{of.photo_main.url}}" data-lightbox="home-images">
               <img src="{{of.photo_main.url}}" alt="" class="img-fluid">
               </a>
            </div>
         </div>
         <!-- Fields -->
         <div class="row mb-5 fields" style="width:100%">
            <div style="width:100%">
               <ul class="list-group list-group-flush">
                  <li class="list-group-item ">
                     <i class="lni lni-text-align-left"></i> Category:
                     <span class="float-right">{{of.category}}</span>
                  </li>
                  <li class="list-group-item">
                     <i class="lni lni-offer"></i> Price:
                     <span class="float-right">
                     {% if of.currency == 'usd' %}
                     ${{ of.price }}
                     {% else %}
                     L.L{{ of.price }}
                     {% endif%}
                     </span>
                  </li>
                  <li class="list-group-item ">
                     <i class="lni lni-radio-button"></i> Brand:
                     <span class="float-right">{{of.brand_name}}</span>
                  </li>
                  <li class="list-group-item ">
                     <i class="fas fa-store-alt"></i> In Stock:
                     <span class="float-right">
                     {% if of.in_stock %}
                     Yes
                     {% else %}
                     No
                     {% endif %}
                     </span>
                  </li>
                  <li class="list-group-item ">
                     <i class="fas fa-star"></i> Average Rating:
                     <span class="float-right"> 5
                     </span>
                  </li>
               </ul>
            </div>
         </div>
         <div class="row mb-5">
            {% if of.in_stock %}
               <div class="col-md-12">
                  <h3>Add to Cart</h3>
                  <hr>
               </div>
               <div class="container">
                  <a style="margin-bottom:15px; width:150px; color:white;" data-product= "{{of.id}}" data-action="add" class="btn button button1 update-cart" >Add to Cart</a>
               </div>
               {%endif%}
         </div>
         <!-- Description -->
         <div class="row mb-5 mt-5">
            <div class="col-md-12">
               <h3>Product Description</h3>
               <hr>
               {% if of.description != "" %}
               {{of.description}}
               {% else %}
               No Description Available
               {% endif %}
            </div>
         </div>
         <!--Review-->
         <div class="row mb-5">
            <div class="col-md-12">
               <h3>Review</h3>
               <form method="post">
                  {% csrf_token %}
                  <textarea style="background-color:white"></textarea>
                  <ul class="rating">
                     <li class="rating-item active" data-rate="1"></li>
                     <li class="rating-item" data-rate="2"></li>
                     <li class="rating-item" data-rate="3"></li>
                     <li class="rating-item" data-rate="4"></li>
                     <li class="rating-item" data-rate="5"></li>
                  </ul>
                  <button class = "button button1 " style="background-color: #2a2a2a; color:white; margin-top:5px; width:80px;" type="submit" id="custom-button">Submit</button>
               </form>
            </div>
         </div>

                  <div class="row mb-5">
                     <div class="col-md-12">
                        <h3>Reviews</h3>
                        <div class="row mt-4 fields" style="width:100%">
                           <div style="width:100%; margin-left:0px;">
                              <ul class="list-group list-group-flush">
                                {%if reviews%}
                                    {% for review in reviews %}
                                       <li class="list-group-item">
                                          <h6>{{review.user}}</h6>
                                          {{review.review}}
                                       </li>
                                    {% endfor %}
                                 {%else%}
                                 <div class="container">
                                    <h5>Be the first to review this product!</h5>
                                 </div>
                                 {%endif%}
                              </ul>
                           </div>
                        </div>
         </div>
      </div>
   </div>
   </div>
   <div class="container">
      <h4>Related Products</h4>
      <hr>
   </div>
   <div class="container">
      <div class="row">
         <!-- Listing 1 -->
         {%for so in suggested_offers%}
         {%for o in so%}
         <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
               <img class="card-img-top" src="{{o.photo_main.url}}" style="height:300px;">
               <div class="card-body" >
                  <div class="listing-heading text-center" style="height:40px;">
                     <a href="#">
                        <h5 style="color:black;">{{o.title}}</h5>
                     </a>
                  </div>
                  <hr>
                  <div class="row py-2 " style="height:50px;" >
                     <div class="col-6" >
                        <i class="fas fa-list-alt"></i> {{o.category}}
                     </div>
                     <div class="col-6">
                        <i class="fa fa-money-bill-alt"></i> Price: ${{o.price}}
                     </div>
                  </div>
                  <div class="row py-2" style="height:50px;" >
                     <div class="col-6">
                        <i class="fa fa-sort-amount-asc"></i> {{o.brand_name}}
                     </div>
                     {%if o.in_stock == True%}
                     <div class="col-6">
                        <i class="fas fa-store-alt"></i>
                        In stock
                     </div>
                     {%else%}
                     <div class="col-6">
                        <i class="fas fa-store-alt"></i>
                        Out Of stock
                     </div>
                     {%endif%}
                  </div>
                  <hr>
                  <a style="margin-bottom:15px; width:150px; text-decoration:none;" data-product= "{{o.id}}" data-action="add" class="button2 btn update-cart" href="#">Add to Cart</a>
                  <a style="margin-bottom:15px; float:right; width:150px;text-decoration:none;" class="btn button2" href="#">View</a>
               </div>
            </div>
         </div>
         {%endfor%}
         {%endfor%}
      </div>
   </div>
</section>
{% endfor %}
{% endif %}

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script>
   function increment() {
      document.getElementById('demoInput').stepUp();
   }
   function decrement() {
      document.getElementById('demoInput').stepDown();
   }

    function incrementt() {
      document.getElementById('demoInput1').stepUp();
   }
   function decrementt() {
      document.getElementById('demoInput1').stepDown();
   }
</script>
<script>
   const container = document.querySelector('.rating');
   const items = container.querySelectorAll('.rating-item')
   container.onclick = e => {
   const elClass = e.target.classList;
   // change the rating if the user clicks on a different star
   if (!elClass.contains('active')) {
   items.forEach( // reset the active class on the star
   item => item.classList.remove('active')
   );
   console.log(e.target.getAttribute("data-rate"));
   elClass.add('active'); // add active class to the clicked star
   }
   };
</script>
<style>
   .button {
   background-color: #333;
   text-align: center;
   padding: 6px;
   border: none;
   color: white;
   height: 40px;
   text-decoration: none;
   cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   }
   .button1:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   }
   .button2 {
   background-color: white;
   color: black;
   border: 1px solid #555555;
   }
   .button2:hover {
   background-color: #333;
   color: white;
   }
   .rating {
   display: flex;
   padding: 0;
   margin: 0;
   }
   .rating li {
   list-style-type: none
   }
   .rating-item {
   border: 1px solid #fff;
   cursor: pointer;
   font-size:2em;
   color: orange;
   }
   /* initial: make all stars full */
   .rating-item::before {
   content: "\2605";
   }
   /* make until the clicked star (the rest) empty */
   .rating-item.active ~ .rating-item::before {
   content: "\2606";
   }
   /* on hover make all full */
   .rating:hover .rating-item::before {
   content: "\2605";
   }
   /* make until the hovered (the rest) empty */
   .rating-item:hover ~ .rating-item::before {
   content: "\2606";
   }
   textarea {
   width: 100%;
   height: 150px;
   padding: 5px 10px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
   }
   .show-cart li {
   display: flex;
   }
   .card {
   margin-bottom: 20px;
   }
   .card-img-top {
   width: 200px;
   height: 200px;
   align-self: center;
   }
</style>
{% endblock %}