{% extends 'base.html' %}
{% load humanize %}
{% block content %}
<section class="py-5 text-white" style="background-color : #222222">
   <div class="container">
      <div class="row text-center">
         <div class="col-md-12">
            <h1 class="display-4">Products</h1>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
   <div class="container">
      <nav aria-label="breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="{% url 'index' %}" style="color:black;">
               <i class="fas fa-home" style="color:black;"></i> Home</a>
            </li>
            <li class="breadcrumb-item active"> Browse Products</li>
         </ol>
      </nav>
   </div>
</section>
<!-- Listings -->
<section class="py-5">
   <div class="container">
      <div class="row">
         {% if products  %}
         {% for product in products %}
         {% if product.is_offer == False %}
         <!-- Listing 1 -->
         <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
               <img class="card-img-top" src="{{product.photo_main.url}}" style="max-height:300px;">
               <div class="card-body" >
                  <div class="listing-heading text-center" style="height:50px;">
                     <a href="{% url 'listing' product.id %}">
                        <h5 style="color:black;">{{ product.title }}</h5>
                     </a>
                  </div>
                  <hr>
                  <div class="row py-2 " style="height:50px;">
                     <div class="col-6" >
                        <i class="fas fa-list-alt"></i> {{product.category}}
                     </div>
                     <div class="col-6" style="height:50px;">
                        <i class="fa fa-money-bill-alt"></i> Price:
                        {% if product.currency == 'usd' %}
                        ${{product.price}}
                        {% else %}
                        L.L{{product.price}}
                        {% endif%}
                     </div>
                  </div>
                  <div class="row py-2" style="height:50px;">
                     <div class="col-6">
                        <i class="fa fa-sort-amount-asc"></i> {{ product.brand_name }}
                     </div>
                     <div class="col-6">
                        <i class="fas fa-store-alt"></i>
                        {% if product.in_stock %}
                        In Stock
                        {% else %}
                        Out of Stock
                        {% endif %}
                     </div>
                  </div>
                  <hr>
                  <a style="margin-bottom:15px; width:150px;" data-product= "{{product.id}}" data-action="add" class="button2 btn update-cart" href="#">Add to Cart</a>
                  <a style="margin-bottom:15px; float:right; width:150px;" class="btn button2" href="{% url 'listing' product.id %}">View</a>
                  <hr>
                  <div class="row" style="display:flex; justify-content:center;">
                     <a onclick="decrement()" class="btn btn-light" style="background-color: #333; color:white; width:40px;">-</a>
                     <input value="0" id=demoInput type=number min=0 max=20 readonly style="width:100px; ">
                     <a onclick="increment()" class="btn btn-light" style="background-color: #333; color:white; width:40px;">+</a>
                  </div>
               </div>
            </div>
         </div>
         {% else %}
         <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
               <img class="card-img-top" src="{{product.photo_main.url}}" style="max-height:300px;">
               <div class="card-img-overlay">
                  <h2>
                     <span class="badge" style="background-color: #FFFF00; color:#000000 ;">Offer</span>
                  </h2>
               </div>
               <div class="card-body" >
                  <div class="listing-heading text-center" style="height:50px;">
                     <a href="{% url 'listing' product.id %}">
                        <h5 style="color:black;">{{ product.title }}</h5>
                     </a>
                  </div>
                  <hr>
                  <div class="row py-2" style="height:50px;">
                     <div class="col-6" >
                        <i class="fas fa-list-alt"></i> {{product.category}}
                     </div>
                     <div class="col-6">
                        <i class="fa fa-money-bill-alt"></i> Price:
                        {% if product.currency == 'usd' %}
                        ${{product.price}}
                        {% else %}
                        L.L{{product.price}}
                        {% endif%}
                     </div>
                  </div>
                  <div class="row py-2" style="height:50px;">
                     <div class="col-6">
                        <i class="fa fa-sort-amount-asc"></i> {{ product.brand_name }}
                     </div>
                     <div class="col-6">
                        <i class="fas fa-store-alt"></i>
                        {% if product.in_stock %}
                        In Stock
                        {% else %}
                        Out of Stock
                        {% endif %}
                     </div>
                  </div>
                  <hr>
                  <a style="margin-bottom:15px; width:150px;" data-product= "{{product.id}}" data-action="add" class="btn button2 update-cart" href="#">Add to Cart</a>
                  <a style="margin-bottom:15px; float:right; width:150px;" class="btn button2" href="{% url 'listing' product.id %}">View</a>
                  <hr>
                  <div class="row" style="display:flex; justify-content:center;">
                     <a onclick="decrementt()" class="btn btn-light" style="background-color: #333; color:white; width:40px;">-</a>
                     <input value="0" id=demoInput1 type=number min=0 max=20 readonly style="width:100px; ">
                     <a onclick="incrementt()" class="btn btn-light" style="background-color: #333; color:white; width:40px;">+</a>
                  </div>
               </div>
            </div>
         </div>
         {% endif %}
         {% endfor %}
         {% else %}
         <div class="container">
            <p>No Products Available </p>
         </div>
         {% endif %}
      </div>
   </div>
</section>
</div>
<style>
   .button2 {
   background-color: white;
   color: black;
   border: 1px solid #555555;
   }
   .button2:hover {
   background-color: #333;
   color: white;
   }
</style>
<script>
   function increment() {
      document.getElementById('demoInput').stepUp();
   }
   function decrement() {
      document.getElementById('demoInput').stepDown();
   }

   function incrementt() {
      document.getElementById('demoInput1').stepUp();
   }
   function decrementt() {
      document.getElementById('demoInput1').stepDown();
   }
</script>
{% endblock %}