{% extends 'base.html' %}

{% load humanize %}

{% block content %}
{% load static %}


<div class="container">

        <h1>Try our new feature and search any image you'd like!</h1>


        <form action = "" method = "POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <label for="real-file" class = "btn btn-light " style="background-color: grey; border-color: grey; color : #ffffff" type="button" id="custom-button">Attach</label>
<!--            <label for="real-file">Attach</label>-->
            <input type="file"  id="real-file" accept="image/*" />
            <input type="submit" value="search">
        </form>

</div>



<script type="text/javascript">

    const FileBtn = document.getElementById("real-file");
    const uploadFileBtn = document.getElementById("custom-button");
    var path = ""

    uploadFileBtn.addEventListener("click",function(){
        FileBtn.click()
    });


    FileBtn.addEventListener("change",function(){
        if(FileBtn.value){
            console.log(FileBtn.value);
        }else{
            console.log("no file chosen");
        }
    });


</script>
<script src="{% static 'js/jquery-3.3.1.min.js'%}"></script>
<script>

    $(function(){
        $("#real-file").change(function(event){
            var x = URL.createObjectURL(event.target.files[0]);

            console.log(x)
        });
    })

</script>
{% endblock %}