{% extends 'base.html' %}
{% load humanize %}
{% block content %}
{% load static %}
{% if user.is_authenticated == True %}
<div class="container py-5">
   <h4 class="text-center">Search products here by uploading an image of the item!</h4>
</div>
<div class=" container">
   <form method ="POST" enctype="multipart/form-data">
      <div class="form-group">
         {% csrf_token %}
         {{form.media}}
         {{form.as_p}}
         <div class="form-group">
             <div class="row mx-auto" style="width:400px; ">
                 <img id="output" src="{% static 'img/uploadImg.jpg' %}" width="400" height="400"/>
             </div>
            <div class="col-md-12 text-center ">
               <input type="file" name="searched_image" accept="image/*" id="id_searched_image" onchange="readURL(this);" class="py-5 inputfile">
               <label for="id_searched_image">Upload Image</label>
            </div>
            </div>
         <div class="col-md-12 text-center">
         <input type="submit" class="btn btn-light" style="background-color: #333; border-color: #333; color : #ffffff; width:400px;" value='Search Product'/>
            </div>
         </div>
   </form>
   </div>
   {% else %}
<div class="container py-5" style="display:flex; justify-content: center;">
      <h5>Please log in or sign up in order to use this feature.</h5>
</div>
   {% endif %}

<script type="text/javascript">
   const FileBtn = document.getElementById("real-file");
   const uploadFileBtn = document.getElementById("custom-button");
   var path = ""

   uploadFileBtn.addEventListener("click",function(){
       FileBtn.click()
   });

   FileBtn.addEventListener("change",function(){
       if(FileBtn.value){
           console.log(FileBtn.value);
       }else{
           console.log("no file chosen");
       }
   });


</script>
<script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
<script>
   $(function(){
       $("#real-file").change(function(event){
           var x = URL.createObjectURL(event.target.files[0]);

           console.log(event)
       });
   })

</script>
<script>
function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#output')
                    .attr('src', e.target.result)
                    .width(400)
                    .height(400);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<style>
   .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    width: 400px;
    padding:8px;
    height:40px;
    font-size: 1em;
    color: white;
    background-color: #333;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
</style>
{% endblock %}