{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark sticky-top" style= "opacity:0.95; background-color: #333;">
   <div class="container">
      <!--      <a class="navbar-brand ml-auto" href="{% url 'index'%}">-->
      <!--        <img src="{% static 'img/market-logo.jpeg' %}" class="logo" alt="">-->
      <!--      </a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
         <ul class="navbar-nav" style="size:10px">
            <li
            {% if '/' == request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'index' %}" >Home</a>
            </li>
            <li
            {% if 'listings' in request.path %}
            class="nav-item active mr-3"
            {% else %}
            class="nav-item mr-3"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
            </li>

         </ul>
         <!--      The form below is the searchbox in the navbar-->
         <div class="container" style=" width:200%;padding-right: 0px;padding-left: 0px; margin-right: 0px; margin-left: 0px;">
            <div class="row align-items-center">
               <div class="col-md-9">
                  <div class="form">
                     <form class="form" action="{% url 'search' %}" method = "get" id="search-form">
                        <i class="fa fa-search" ></i>
                        <input  name="keywords" id="searchBar" size ="10" type="text" class="form-control form-input mr-sm-2" placeholder="Search anything..." autocomplete="off" aria-label="Search" value="{{ values.keywords }}">
                        <span class="left-pan" >
                        <button style="background-color:#ffffff; border:none; " type="button"><i id="mic-logo" class="fas fa-microphone"></i></button>
                        </span>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         <!--        <label class="form-label" for="customFile"></label>-->
         <div class="container" style="padding-right: 0px;padding-left: 0px;">
            <input type="file" class=" " id="real-file" hidden="hidden" />
            <button class = "btn btn-light " style="background-color: grey; border-color: grey; color : #ffffff" type="button" id="custom-button">Upload Image</button>
         </div>
         <!--        <span class=" mr-sm-2" id="custom-text" style="color: #ffffff; font-size: 12px;">No file chosen yet</span>-->
         <div class="container">
            <ul class="navbar-nav ">
               {% if user.is_authenticated %}
                   <li
                  {% if 'dashboard' in request.path %}
                     class="nav-item active mr-3"
                  {% else %}
                     class="nav-item mr-3"
                  {%endif%}
                  >
                  <a class="nav-link navbar-right"  href="{% url 'dashboard' %}">
                  Welcome {{ user.username }}  </a>
                  </li>
               <li class="nav-item mr-3">
                  <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                     <i class="fas fa-sign-out-alt"></i> Logout
                  </a>
                  <form action="{% url 'logout' %}" method="POST" id="logout">
                     {% csrf_token %}
                     <input type="hidden">
                  </form>
               </li>
               {% else %}
                  <li
                  {% if 'register' in request.path %}
                     class="nav-item active mr-3"
                  {% else %}
                     class="nav-item mr-3"
                  {%endif%}
                  >
                  <a class="nav-link navbar-right"  href="{% url 'register' %}">
                  Register </a>
                  </li>
                  <li
                  {% if 'login' in request.path %}
                  class="nav-item active mr-3"
                  {% else %}
                  class="nav-item mr-3"
                  {%endif%}
                  >
                  <a class="nav-link navbar-right" href="{% url 'login' %}">
                  Login</a>
                  </li>
               {% endif %}
               <li class="nav-item mr-3" style="margin-top:10px;">
                  <a href="{% url 'index' %}">
                     <img  id="cart-icon" src="{% static 'img/cart.png' %}">
                  </a>
               </li>
               <li class="nav-item mr-3" >
                  <p id="cart-total">0</p>
               </li>
            </ul>
         </div>
      </div>
   </div>
</nav>
<script>
   const searchForm = document.querySelector("#search-form");
   const searchFormInput = searchForm.querySelector("#search-form input");
   const micBtn = searchForm.querySelector("#search-form button");
   const micIcon = document.getElementById("mic-logo");

   var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
   if(SpeechRecognition){
   const recognition = new SpeechRecognition();

   recognition.continuous = false;
   micBtn.addEventListener("click",micBtnClick);

   function micBtnClick(){
     if(micIcon.classList.contains("fa-microphone")){ //Start speech recog
     recognition.start();

     } else { //Stop speech recog

     recognition.stop();

     }
   }
   recognition.addEventListener("start",startSpeechRecognition);
   function startSpeechRecognition(){
   micIcon.classList.remove("fa-microphone");
     micIcon.classList.add("fa-microphone-slash");
   console.log("Speech Recognition Active");
   }
   recognition.addEventListener("end",endSpeechRecognition);
   function endSpeechRecognition(){
   micIcon.classList.remove("fa-microphone-slash");
   micIcon.classList.add("fa-microphone");
   searchFormInput.focus();
   console.log("Speech Recognition Disconnected");
   }

   recognition.addEventListener("result",resultOfSpeechRecognition);
   function resultOfSpeechRecognition(event){
   const transcript = event.results[0][0].transcript;
   searchFormInput.value = transcript;
   /*setTimeout(() => {
   searchForm.submit();
   },750);*/
   console.log(event);
   }

   } else { console.log("Browser does not support Speech recog");
   }

</script>
<script>
   const realFileBtn = document.getElementById("real-file");
   const customBtn = document.getElementById("custom-button");
   const customTxt = document.getElementById("custom-text");

   customBtn.addEventListener("click", function() {
     realFileBtn.click();
   });
</script>

<style>



.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

</style>