{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-expand-lg navbar-dark sticky-top" style= "opacity:0.95; background-color: #333;">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="container">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
         <ul class="navbar-nav" style="size:10px">
            <li
            {% if '/' == request.path %}
            class="nav-item active "
            {% else %}
            class="nav-item"
            {% endif %}
            style="margin-top:10px;"
            >
            <a class="nav-link" href="{% url 'index' %}" >Home</a>
            </li>
            <li
            {% if 'categories' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            style="margin-top:10px;">
            <a class="nav-link" href="{% url 'categories' %}">Categories</a>
            </li>
            <li
            {% if 'listings' and 'offers' in request.path %}
            class="nav-item active"
            {% else %}
            class="nav-item"
            {% endif %}
            style="margin-top:10px;">
            <a class="nav-link" href="{% url 'offers' %}">Offers</a>
            </li>
            <li style="width:500px; margin-left:20px;" class="nav-item">
               <div class="container" style="padding-right: 0px;padding-left: 0px; margin-right: 0px; margin-left: 0px; ">
                  <div class="row align-items-center">
                     <div class="col-md-9">
                        <div class="form" >
                           <form class="form" action="{% url 'search' %}" method = "get" id="search-form">
                              <i class="fa fa-search" ></i>
                              <input name="keywords" id="searchBar" size ="10" type="text" class="form-control form-input mr-sm-2" placeholder="Search anything..." autocomplete="off" aria-label="Search" value="{{ values.keywords }}">
                              <span class="left-pan" >
                              <button style="background-color:#ffffff; border:none; " type="button"><i id="mic-logo" class="fas fa-microphone"></i></button>
                              <a href="{% url 'search_image' %}" style="background-color:#ffffff; border:none; " type="button"><i class="fas fa-camera"></i></a>
                              </span>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </li>
         </ul>
         <div class="container">
            <ul class="navbar-nav" >
               <li class="nav-item" style="color:white; margin-top:8px;">
                  {% if user.is_authenticated %}
                  <ul class="navbar-nav" style="margin-right:20px;">
                     <li class="nav-item">
                        <a href="{% url 'editProfile' %}" style="color: white; text-decoration: none;">Welcome</a>
                     </li>
                     <li class="nav-item" style="margin-left:5px; ">
                        <a href="{% url 'editProfile' %}" style="color:white; text-decoration: none;">{{user.first_name}}</a>
                     </li>
                  </ul>
                  {% endif %}
               </li>
               <li class="nav-item " style="margin-top:10px;">
                  <ul class="navbar-nav">
                     <div>
                        <li class="nav-item ">
                           <a href="{% url 'cart' %}">
                           <i class="fa fa-shopping-cart" aria-hidden="true" style="color:white;"></i>
                           </a>
                     </div>
                     </li>
                     <div>
                        <li class="nav-item" style="margin-left:5px;">
                           <p id="cart-total" style="margin-bottom:0em;">{{cart_items}}</p>
                        </li>
                     </div>
                  </ul>
               </li>
               {% if user.is_authenticated %}
               <li class="nav-item mr-3">
                  <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                  Logout
                  </a>
                  <form action="{% url 'logout' %}" method="POST" id="logout">
                     {% csrf_token %}
                     <input type="hidden">
                  </form>
               </li>
               {% else %}
               <li
               {% if 'register' in request.path %}
               class="nav-item active mr-3"
               {% else %}
               class="nav-item mr-3"
               {%endif%}
               >
               <a class="nav-link navbar-right"  href="{% url 'register' %}">
               Register </a>
               </li>
               <li
               {% if 'login' in request.path %}
               class="nav-item active mr-3"
               {% else %}
               class="nav-item mr-3"
               {%endif%}
               >
               <a class="nav-link navbar-right" href="{% url 'login' %}">
               Login</a>
               </li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
</nav>
<script type="text/javascript">
   <!--  The `multiple` attribute lets users select multiple files. -->


     const fileSelector = document.getElementById('real-file');
     fileSelector.addEventListener('change', (event) => {
       const fileList = event.target.files;
       console.log(fileList[0].name);

       fetch('/media/about.jpg')
     .then(response => response.text())
     .then(data => {
     	// Do something with your data
     	console.log(data);
     });
     });


</script>
<script>
   const searchForm = document.querySelector("#search-form");
   const searchFormInput = searchForm.querySelector("#search-form input");
   const micBtn = searchForm.querySelector("#search-form button");
   const micIcon = document.getElementById("mic-logo");

   var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
   if(SpeechRecognition){
   const recognition = new SpeechRecognition();

   recognition.continuous = false;
   micBtn.addEventListener("click",micBtnClick);

   function micBtnClick(){
     if(micIcon.classList.contains("fa-microphone")){ //Start speech recog
     recognition.start();

     } else { //Stop speech recog

     recognition.stop();

     }
   }
   recognition.addEventListener("start",startSpeechRecognition);
   function startSpeechRecognition(){
   micIcon.classList.remove("fa-microphone");
     micIcon.classList.add("fa-microphone-slash");
   console.log("Speech Recognition Active");
   }
   recognition.addEventListener("end",endSpeechRecognition);
   function endSpeechRecognition(){
   micIcon.classList.remove("fa-microphone-slash");
   micIcon.classList.add("fa-microphone");
   searchFormInput.focus();
   console.log("Speech Recognition Disconnected");
   }

   recognition.addEventListener("result",resultOfSpeechRecognition);
   function resultOfSpeechRecognition(event){
   const transcript = event.results[0][0].transcript;
   searchFormInput.value = transcript;
   setTimeout(() => {
   searchForm.submit();
   });
   console.log(event);
   }

   } else { console.log("Browser does not support Speech recog");
   }

</script>
<script>
   const realFileBtn = document.getElementById("real-file");
   const customBtn = document.getElementById("custom-button");
   const customTxt = document.getElementById("custom-text");

   customBtn.addEventListener("click", function() {
     realFileBtn.click();
   });
</script>
<style>
   .box-element{
   box-shadow:hsl(0, 0%, 80%) 0 0 16px;
   background-color: #fff;
   border-radius: 4px;
   padding: 10px;
   }
   .thumbnail{
   width: 100%;
   height: 200px;
   -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
   -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
   box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
   }
   .product{
   border-radius: 0 0 4px 4px;
   }
   .bg-dark{
   background-color: #4f868c!important;
   }
   #cart-icon{
   width:25px;
   display: inline-block;
   margin-left: 15px;
   }
   #cart-total{
   display: block;
   text-align: center;
   color:#fff;
   background-color: red;
   width: 20px;
   height: 25px;
   border-radius: 50%;
   font-size: 14px;
   }
   .col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
   margin-top: 10px;
   }
   .btn{
   border-radius: 0;
   }
   .row-image{
   width: 100px;
   }
   .form-field{
   width:250px;
   display: inline-block;
   padding: 5px;
   }
   .cart-row{
   display: flex;
   align-items: flex-stretch;
   padding-bottom: 10px;
   margin-bottom: 10px;
   border-bottom: 1px solid #ececec;
   }
   .quantity{
   display: inline-block;
   font-weight: 700;
   padding-right:10px;
   }
   .chg-quantity{
   width: 12px;
   cursor: pointer;
   display: block;
   margin-top: 5px;
   transition:.1s;
   }
   .chg-quantity:hover{
   opacity: .6;
   }
   .hidden{
   display: none!important;
   }
</style>