{% load static %}
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style= "opacity:1; background-color: #000000;">
    <div class="container ">
      <a class="navbar-brand ml-auto" href="{% url 'index'%}">
        <img src="{% static 'img/market-logo.jpeg' %}" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
          {% if '/' == request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'index' %}" >Home</a>
          </li>
          <li
          {% if 'about' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
         <li
          {% if 'listings' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %}
          >
            <a class="nav-link" href="{% url 'listings' %}">Offers</a>
          </li>
        </ul>

<!--      The form below is the searchbox in the navbar-->
        <form class="form-inline" action="https://www.google.com/search" method = "get" id="search-form" target="_blank">
      <input name="q" id="searchBar" size ="30" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" autocomplete="off" autofocus>
      <button type="button"><i id="mic-logo" class="fas fa-microphone"></i></button>
          <button class="btn btn-light my-2 my-sm-0" style="background-color: #000000; border-color: #ffff00; color : #ffff00" type="submit">Search</button>
        </form>

        <script>
          const searchForm = document.querySelector("#search-form");
          const searchFormInput = searchForm.querySelector("#search-form input");
          const micBtn = searchForm.querySelector("#search-form button");
          const micIcon = document.getElementById("mic-logo");

          var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
          if(SpeechRecognition){
          const recognition = new SpeechRecognition();

          recognition.continuous = false;
          micBtn.addEventListener("click",micBtnClick);

          function micBtnClick(){
            if(micIcon.classList.contains("fa-microphone")){ //Start speech recog
            recognition.start();

            } else { //Stop speech recog

            recognition.stop();

            }
          }
          recognition.addEventListener("start",startSpeechRecognition);
          function startSpeechRecognition(){
          micIcon.classList.remove("fa-microphone");
            micIcon.classList.add("fa-microphone-slash");
          console.log("Speech Recognition Active");
          }
          recognition.addEventListener("end",endSpeechRecognition);
          function endSpeechRecognition(){
          micIcon.classList.remove("fa-microphone-slash");
          micIcon.classList.add("fa-microphone");
          searchFormInput.focus();
          console.log("Speech Recognition Disconnected");
          }

          recognition.addEventListener("result",resultOfSpeechRecognition);
          function resultOfSpeechRecognition(event){
          const transcript = event.results[0][0].transcript;
          searchFormInput.value = transcript;
          /*setTimeout(() => {
          searchForm.submit();
          },750);*/
          console.log(event);
          }

          } else { console.log("Browser does not support Speech recog");
          }

        </script>



<!--        <label class="form-label" for="customFile"></label>-->
        <input type="file" class="ml-sm-2 mr-sm-2" id="real-file" hidden="hidden" />
        <button class = "btn btn-light ml-sm-2 mr-sm-2" style="background-color: #000000; border-color: #ffff00; color : #ffff00" type="button" id="custom-button">Upload Image</button>
<!--        <span class=" mr-sm-2" id="custom-text" style="color: #ffffff; font-size: 12px;">No file chosen yet</span>-->

        <script>

          const realFileBtn = document.getElementById("real-file");
          const customBtn = document.getElementById("custom-button");
          const customTxt = document.getElementById("custom-text");

          customBtn.addEventListener("click", function() {
            realFileBtn.click();
          });

          /*
          realFileBtn.addEventListener("change",function(){
          if(realFileBtn.value){
          customTxt.innerHTML = realFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
          }else{
          customTxt.innerHTML = "No file chosen yet";
          }
          }); */

        </script>


        <ul class="navbar-nav ml-5 ">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'register' %}">
              <i class="fas fa-user-plus"></i> Register</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i>

              Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
