<!-- Top Bar -->
<section id="top-bar" class="p-3" style="background-color:#2a2a2a; font-size:14px;">
   <div class="container">
      <div class="row">
         <div class="col-md-4 text-white">
            <i class="fas fa-phone" style="color:white"></i> (961)-71121204
         </div>
         <div class="col-md-4 text-white">
            <i class="fas fa-envelope-open text-white" ></i> Supermarket@Lebanon.com
         </div>
         <div class="col-md-4 text-white">
            <div class="social text-right text-white">
               <a href="https://www.twitter.com">
               <i class="fab fa-twitter text-white"></i>
               </a>
               <a href="https://www.facebook.com/">
               <i class="fab fa-facebook text-white"></i>
               </a>
               <a href="https://www.linkedin.com/">
               <i class="fab fa-linkedin text-white"></i>
               </a>
               <a href="https://www.instagram.com/">
               <i class="fab fa-instagram text-white"></i>
               </a>
               <a href="https://www.pinterest.com/">
               <i class="fab fa-pinterest text-white"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
</section>